<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    </head>
    <body class="note">
   <span class="login">
        <a href="http://0.0.0.0:8080/login">login</a>
        <a href="http://0.0.0.0:8080/logout">logout</a>
        <a href="http://0.0.0.0:8080/register">register</a>
   </span>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
